body {
    background-color: rgb(226, 189, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
div {
    border: 1px solid;
    display: inline-flex;
}
img{
    size: 500px;
    border-radius: 50%;
    border:5px solid #000000;
}
#blueapple{
    background-color:#6a2828a2;
    height: 1000px;
    width: 1000px;
    display: inline-block;
    
    
}
.title{
    font-size: 50px;
   
    background-color: #3c10109f;
    color: rgb(3, 130, 194);
    border: 5px solid;
    border-color: black;
    display: inline-block;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000; ;



}
.lrh{
    background-color: white;
    display: inline-block;
    width: 1000px;
}
.dot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;

}
.dot.one{
    background-color: rgb(226, 189, 0) ;
}
.dot.two{
    background-color: #6a2828a2;
}
.dot.three{
    background-color:#3c10109f;
}
.dot.four{
    background-color:rgb(3, 130, 194);
}