/* This is the file, "fonts.css." */
@font-face {
    font-family: 'AnnaiMN';
    src: url('../fonts/AnnaiMN.ttf') format('truetype');
    font-style: normal;
}
 @font-face {
   font-family: 'Georgia';
   src: url('../fonts/Georgia.ttf') format('truetype');
   font-style: normal;
}
@font-face {
   font-family: 'Georgia';
   src: url('../fonts/GeorgiaBold.ttf') format('truetype');
   font-weight: 700;
}